<div class="checkout-page">
    <div class="container">
        {{render '@header'}}
        {{render '@progress'}}
        {{render '@registration-form'}}
        {{render '@shipping-form'}}
    </div>
    {{ render '@footer-menu'}}
    {{ render '@footer'}}

</div>