<div class="login-form">
    {{render '@progress'}}
    <div class="login-form__row">
        <div class="login-form__col">
            <div class="title">
                <h3>Welcome Back</h3>
            </div>
            <form action="/">
                {{ render '@form-field' email}}
                {{ render '@form-field' password}}
                {{ render '@button' submit}}
            </form>
        </div>
        <div class="login-form__col">
            <div class="title">
                <h3>I am New Here</h3>
            </div>
            {{ render '@button' register}}
        </div>
    </div>
    {{render '@payment-methods'}}

</div>