<div class="user-review">
    <div class="user-review-wrapper">
        <div class="title">
            <h2>{{title}}</h2>
        </div>
        {{render '@stars'}}
    </div>

    <div class="date">{{date}}</div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum exercitationem rem optio tempora voluptates hic
        expedita in vel nobis? Maxime voluptatem quas suscipit quos dignissimos molestiae, expedita animi culpa
        consectetur.</p>
    <div class="user-review-image">
        {{render '@image'}}
        {{render '@image'}}{{render '@image'}}
    </div>

</div>