<div class="checkout-form">
    <form action="/">
        {{ render '@form-field' firstname}}
        {{ render '@form-field' lastname}}
        {{ render '@form-field' email}}
        {{ render '@form-field' strase}}
        {{ render '@form-field' hauseData}}
        {{ render '@form-field' postleitzale}}
        {{ render '@button' register}}
        {{ render '@form-field--select' select}}
        {{ render '@form-field--select' branch}}
        <div class="form-actions">
            {{ render '@button' submit}}
        </div>
    </form>
</div>