<div class="shipping-form">
    <div class="field-group">
        <div class="title">
            <h5>Have an Account</h5>
        </div>

        {{ render '@button' login}}

    </div>
    <div class="subtitle">
        Shipping Adress
    </div>
    {{ render '@form-field' firstname}}
    {{ render '@form-field' lastname}}

    {{ render '@form-field' strase}}
    {{ render '@form-field' hauseData}}
    {{ render '@form-field' postleitzale}}

    {{ render '@form-field--select' select}}
    {{ render '@form-field--select' branch}}
    <div class="form-actions">
        {{ render '@button' submit}}
    </div>