<div class="container">
    {{ render '@header'}}
    {{ render '@page-header' pageHeaderData}}
    {{ render '@banner--short' bannerData}}
    {{ render "@filters"}}
    {{ render '@products-list' productListData}}
    {{ render '@pagination'}}
    {{ render '@subscription-form'}}
</div>
{{ render '@footer-menu'}}
{{ render '@footer'}}