<div class="container">
    {{ render '@header'}}
    {{ render '@page-header' pageHeaderData}}
    {{ render '@banner'}}
    {{ render '@products-list' productListData}}
    {{ render '@pagination'}}
    {{ render '@subscription-form'}}
    {{ render '@footer-menu'}}
    {{ render '@footer'}}
</div>