<div class="review-rating">
    <h2>Review</h2>
    <div class="review-rating-wrapper">
        {{render '@rating-countbar' rating5}}
        {{render '@rating-countbar' rating4}}
        {{render '@rating-countbar'rating3}}
        {{render '@rating-countbar'rating2}}
        {{render '@rating-countbar'rating1}}
    </div>
</div>