<div class="review-page">
    <div class="container">
        <div class="review-page-wrapper">
            {{render '@header'}}

            {{render '@review-rating'}}
        </div>

        {{render '@button' btnData}}
    </div>
    {{ render '@footer-menu'}}
    {{ render '@footer'}}
</div>