<div class="product">
    <h3>{{name}}</h3>
    {{ render '@image' image}}
    {{ render '@sale'}}
    {{ render '@price' price}}


    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        {{ render '@button--checkbox-button'}}
        {{ render '@button--radio-buttons' }}
        {{render '@button--icon-button' button}}
    </div>
</div>