<div class="container">
    {{ render '@header'}}
    {{ render '@banner'}}
    {{ render '@products-list' newProdData}}

    {{ render '@categories'}}
    {{ render '@products-list' bestProdData}}
    {{ render '@subscription-form'}}
</div>
{{ render '@footer-menu'}}
{{ render '@footer'}}