<div class="container">
    {{ render '@header'}}
    {{ render '@page-header' pageHeaderData}}
    {{ render '@images-'}}
    {{ render '@subscription-form'}}
    {{ render '@footer-menu'}}
    {{ render '@footer'}}
</div>