<div class="container">
    {{ render '@header'}}
    {{ render '@page-header' pageHeaderData}}
    {{ render '@image-with-text' storyData}}
    {{ render '@image-with-text--reverse' reverseData}}
    {{render '@center-text' textData}}
    {{ render '@subscription-form'}}
</div>
{{ render '@footer-menu'}}
{{ render '@footer'}}