<div class="container">
    {{ render '@header'}}
    {{ render '@page-header' pageHeaderData}}
    {{ render '@banner'}}
    {{ render '@subscription-form'}}
</div>
{{ render '@footer-menu'}}
{{ render '@footer'}}